In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [15]:
import pandas as pd
import numpy as np

BASE_PATH = '/content/drive/MyDrive/FactoryGuard_AI'

df = pd.read_csv(BASE_PATH + '/data/raw/predictive_maintenance_dataset.csv')
df['timestamp'] = pd.to_datetime(df['timestamp'])
df = df.sort_values(['machine_id', 'timestamp'])

df.head()

,timestamp,machine_id,vibration,acoustic,temperature,current,IMF_1,IMF_2,IMF_3,label
0,2024-07-01 08:00:00,M01,0.822,0.645,66.85,13.04,0.196,0.033,0.000,0
1,2024-07-01 08:01:00,M01,1.398,0.834,76.20,15.08,0.345,0.132,0.001,1
2,2024-07-01 08:02:00,M01,0.856,0.590,67.03,12.30,0.187,0.017,0.002,0
3,2024-07-01 08:03:00,M01,0.793,0.544,65.04,11.69,0.196,-0.060,0.003,0
4,2024-07-01 08:04:00,M01,1.279,0.721,78.19,14.84,0.330,-0.115,0.004,1

In [12]:
df['value'].describe()

count    10.000000
mean      0.550000
std       0.302765
min       0.100000
25%       0.325000
50%       0.550000
75%       0.775000
max       1.000000
Name: value, dtype: float64

In [13]:
df.head(10)

   machine_id           timestamp  value
0           1 2023-01-01 00:00:00    0.1
1           2 2023-01-01 01:00:00    0.2
2           3 2023-01-01 02:00:00    0.3
3           4 2023-01-01 03:00:00    0.4
4           1 2023-01-01 04:00:00    0.5
5           2 2023-01-01 05:00:00    0.6
6           3 2023-01-01 06:00:00    0.7
7           4 2023-01-01 07:00:00    0.8
8           1 2023-01-01 08:00:00    0.9
9           2 2023-01-01 09:00:00    1.0