In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import pandas as pd
import os

BASE_PATH = '/content/drive/MyDrive/FactoryGuard_AI'
file_path = BASE_PATH + 'predictive_maintenance_dataset'

try:
    df = pd.read_csv(file_path)
    print(f"Successfully loaded data from {file_path}")
except FileNotFoundError:
    print(f"Error: The file '{file_path}' was not found.")
    print("Please ensure the file exists at the specified path in your Google Drive.")
    print("If you have it in a different location, please update the 'BASE_PATH' or 'file_path'.")
    print("You can use `!ls -R /content/drive/MyDrive/FactoryGuard_AI` to list the contents of your Google Drive and find the correct path.")

    # Create a sample DataFrame for demonstration if the file is not found
    print("\nCreating a sample DataFrame for demonstration purposes:")
    data = {
        'machine_id': [1, 2, 3, 4, 1, 2, 3, 4, 1, 2],
        'timestamp': pd.to_datetime(['2023-01-01 00:00:00', '2023-01-01 01:00:00', '2023-01-01 02:00:00', '2023-01-01 03:00:00',
                                     '2023-01-01 04:00:00', '2023-01-01 05:00:00', '2023-01-01 06:00:00', '2023-01-01 07:00:00',
                                     '2023-01-01 08:00:00', '2023-01-01 09:00:00']),
        'value': [0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1.0]
    }
    df = pd.DataFrame(data)
    print("Sample DataFrame created.")

df.head()

Error: The file '/content/drive/MyDrive/FactoryGuard_AIpredictive_maintenance_dataset' was not found.
Please ensure the file exists at the specified path in your Google Drive.
If you have it in a different location, please update the 'BASE_PATH' or 'file_path'.
You can use `!ls -R /content/drive/MyDrive/FactoryGuard_AI` to list the contents of your Google Drive and find the correct path.

Creating a sample DataFrame for demonstration purposes:
Sample DataFrame created.

   machine_id           timestamp  value
0           1 2023-01-01 00:00:00    0.1
1           2 2023-01-01 01:00:00    0.2
2           3 2023-01-01 02:00:00    0.3
3           4 2023-01-01 03:00:00    0.4
4           1 2023-01-01 04:00:00    0.5

In [11]:
df.columns

Index(['machine_id', 'timestamp', 'value'], dtype='object')

In [12]:
df['value'].describe()

count    10.000000
mean      0.550000
std       0.302765
min       0.100000
25%       0.325000
50%       0.550000
75%       0.775000
max       1.000000
Name: value, dtype: float64

In [13]:
df.head(10)

   machine_id           timestamp  value
0           1 2023-01-01 00:00:00    0.1
1           2 2023-01-01 01:00:00    0.2
2           3 2023-01-01 02:00:00    0.3
3           4 2023-01-01 03:00:00    0.4
4           1 2023-01-01 04:00:00    0.5
5           2 2023-01-01 05:00:00    0.6
6           3 2023-01-01 06:00:00    0.7
7           4 2023-01-01 07:00:00    0.8
8           1 2023-01-01 08:00:00    0.9
9           2 2023-01-01 09:00:00    1.0